body{
    background-size: cover;
    margin: 0 auto;
    background-image: url("../homework7/images/bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1063px;
    margin: 0 auto;
}
.containerTop{
    display: grid;
    padding-top: 49px;
    grid-template-columns: 166px 897px;
}
.logo:hover img {
    color: #f26522;
    z-index: -1;
}
.logo:hover a{
    color: #f26522;
}
.white img{
    position: absolute;
}
.milan{
    color: #ffffff;
    font-family: Verdana;
    font-weight: 700;
    position: relative;
    top: -23px;
    left: 15px;
    font-size: 29px;
}
.holidays {
    position: relative;
    top: -23px;
    left: 64px;
    color: #ffffff;
    font-family: Verdana;
    font-weight: 700;
    font-size: 18px;
}
.contacts{
    text-align: right;
    display: grid;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.phone{
    position: relative;
    top:-8px;
    display: inline-grid;
}

.grid-container {
    display: grid;
    grid-template-columns: 311px 311px 311px;
    grid-gap: 69px;
    padding-top: 20px;
}
.tab21{
    transition: 0.7s;
    opacity: 0;
    bottom: 61px;
    width: 311px;
    height: 63px;
    position: absolute;
    background-color: #f26522;
}
.tab21:hover{
    transition: 0.7s;
    opacity: 1;

}
.border{
    border: 2px solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
}
.pictures {
    border-top: 2px solid white;
    position: relative;
}
.pictures:hover a{
    transition: 0.7s;
    color: #f26522;
}
.pictures:hover .tab21 {
    opacity: 1;
}

.info{
    margin-top: 14px;
    margin-left: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: Verdana;
}
.price{
    font-size: 20px;
}
.from{
    font-size: 10px;
}
.details{
    font-size: 14px;
    position: absolute;
    right: 40px;
    bottom: 15px;
}
.tour{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Verdana;
}
footer {
    display: grid;
    text-align: center;
    padding-top: 41px;
    color: #ffffff;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
}

